<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo reference="castor_wheel">
        <mu1 value="0.1"/>
        <mu2 value="0.1"/>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system"
                name="gz::sim::systems::DiffDrive">
            <left_joint>right_wheel_joint</left_joint>
            <right_joint>left_wheel_joint</right_joint>
            <wheel_separation>0.3</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system" 
                name="gz::sim::systems::JointStatePublisher">
            <joint_name>left_wheel_joint</joint_name>
            <joint_name>right_wheel_joint</joint_name>
        </plugin>
        
    </gazebo>
    <gazebo>
    <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
    <!-- <topic>tf</topic> -->
    <!-- <publish_link_pose>true</publish_link_pose> -->
    <publish_sensor_pose>true</publish_sensor_pose>
    <!-- <publish_model_pose>true</publish_model_pose> -->
    <static_publisher>true</static_publisher>
    <use_pose_vector_msg>true</use_pose_vector_msg>
  </plugin>
    </gazebo>

</robot>